<!DOCTYPE html>
<html>
<head>
    <title>Ya.Pro.Service Snap Show</title>
    <link rel="stylesheet" href="static/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><b>Snap Show</b></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="main">Main</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="upload">Upload</a>
                </li>
                {#<li class="nav-item">
                    <a class="nav-link" href="repo">Repo</a>
                </li>#}
            </ul>
        </div>
      </nav>

    {% block content %}{% endblock %}

    <footer  class="page-footer font-small fixed-bottom" style="background-color:lightgray;">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col text-right">
                    If you have any issues with Ya_Snap_Show please let me know <a href="mailto:a.bykov@yadro.comi?subject=ya_snap_show" >a.bykov@yadro.com</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="static/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="static/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="static/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
