{% extends "base.html" %}

{% block content %}
    <div class="row">
    <div class="container-fluid col-2">
    <form method="GET">
        <table>
        <tr><td>Machine type:<br><input type="text" name="mtm" value="{{mtm}}"></td></tr>
        <tr><td>Serial number:<br><input type="text" name="sn" value="{{sn}}"></td></tr>
        <tr><td align="center"><input type="submit" value="Search"></td></tr>
        </table>
    </form>
    </div>
    <div class="container-fluid col-10">
    <table class='table table-striped text-center'>
    <tr>
        <th class='col-1'>mtm</th>
        <th class='col-1'>sn</th>
        <th class='col-1'>codelevel</th>
        <th class='col-1'>timestamp</th>

    </tr>
    {% for element in data %}
    <tr style="cursor: pointer;" onclick="location.href='unit?id={{ element[0] }}'">
        <td class='col-1' nowrap>{{ element[1] }}</td>
        <td class='col-1' nowrap>{{ element[2] }}</td>
        <td class='col-1' nowrap>{{ element[4] }}</td>
        <td class='col-1' nowrap>{{ element[3] }}</td>
    </tr>
    {% endfor %}
    </table>
    </center>
    </div>
    </div>
{% endblock %}
