{% extends "snap_show_unit_main.html" %}
{% set type = "hardware" %}

{% block info %}

    {% for enclosure in data['svcout_int']['lsenclosure_delim'] %}
        <table align="center">
            
            <tr>
                <td>
                    id : {{ enclosure['id']}}
                </td>
                <td>
                    Enc_type : {{ enclosure['product_MTM'] }}({{ enclosure['type'] }})<br> Sn : {{ enclosure['serial_number'] }}
                </td>
                <td {% if enclosure['status']=='offline' %} class="text-danger" {% else %} class="text-success" {% endif %}>
                    Status : {{ enclosure['status'] }}
                </td>
                <td>
                    Temperature : {{ enclosure['ambient_temperature'] }}
                </td>
            </tr>
            
            <tr><td colspan="4">
                <table align=center><tr>
                {% for node in data['svcout_glob']['lsnode_delim'] %}
                {% if node['enclosure_id'] == enclosure['id'] %}
                <td>
                    <table border="1">
                        <tr>
                            <td colspan=2 width="240" align="center" bgcolor="#DDDDDD">{{ node['name'] }}</td>
                        </tr><tr>
                            <td width="120" align="center" {% if node['status']=='service' %} class="bg-warning" {% elif node['status']=='offline' %} class="bg-danger" {% else %} class="bg-success" {% endif %}>{{ node['status'] }}</td>
                            <td width="120" align="center">{{ node['service_IP_address'] }}</td>
                        </tr>
                    </table>
                </td>
                {% endif %}
                {% endfor %}
                </tr></table>
            </td></tr>
            
            <tr><td colspan="4">
                <table border=1><tr>
                {% for slot in data['svcout_int']['lsenclosureslot_delim'] %}
                    {% if slot['enclosure_id'] == enclosure['id'] %}
                        <td bgcolor="#DDDDDD" align='center' width='30'>{{slot['slot_id']}}</td>
                    {% endif %}
                {% endfor %}
                </tr>
                <tr>
                {% for slot in data['svcout_int']['lsenclosureslot_delim'] %}
                    {% if slot['enclosure_id'] == enclosure['id'] %}
                        <td width='30' align='center' {% if slot['powered']=='no' %} class="bg-secondary"{% elif slot['fault_LED'] == 'off' %} class="bg-success"{% else %}class="bg-danger"{% endif %}><a href="drive_info?id={{ data['_id'] }}&drive_id={{ slot['drive_id'] }}" target="popup" style="color: midnightblue;">{{ slot['drive_id'] }}</a></td>
                    {% endif %}
                {% endfor %}
                </tr></table>
            </td></tr>
            
            <tr>
                <td>
                    Nodes : {{ enclosure['online_canisters'] }}/{{ enclosure['total_canisters'] }}
                </td>
                <td>
                    PSUs : {{ enclosure['online_PSUs'] }}/{{ enclosure['total_PSUs'] }}
                </td>
                <td>
                            {% set battery_online = namespace(value=0) %}
                            {% set battery_total = namespace(value=0) %}
                            {% for battery in data['svcout_int']['lsenclosurebattery_delim'] %}
                            {% if battery['enclosure_id'] == enclosure['id'] %}
                                {% set battery_total.value = battery_total.value + 1 %}
                                {% if battery['status'] == "online" %}{% set battery_online.value = battery_online.value + 1 %}{% endif %}
                            {% endif %}
                            {% endfor %}
                    Battery : {{ battery_online.value }}/{{ battery_total.value }}
                </td>
            </td></tr>
            <tr><td colspan="4">
            
                    Drive types :<br>
                    <table>
                    {% set drive_fru=[] %}
                    {% for drive in data['svcout_int']['lsdrive_delim'] %}
                    {% if (drive['enclosure_id'] == enclosure['id'] and drive['FRU_part_number'] not in drive_fru) %}
                        <tr>
                        <td width="120">{{ drive['FRU_part_number'] }}</td><td width="120">{% if 'physical_capacity' in drive %} {{ drive['physical_capacity'] }} {% elif 'capacity' in drive %}{{ drive['capacity']}}{% endif %}</td><td width="120"> {{ drive['transport_protocol']}}</td>
                        {% set _= drive_fru.append(drive['FRU_part_number']) %}
                        </tr>
                    {% endif %}
                    {% endfor %}
                    </table>
            </td></tr>
    </table>
        <br>
    {% endfor %}
{% endblock %}